<div>
    <h2 data-translate="demoApp.location.home.title">Locations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="location-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="demoApp.location.home.createLabel">
                        Create new Location
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="demoApp.location.streetAddress">Street Address</span></th>
                    <th><span data-translate="demoApp.location.postalCode">Postal Code</span></th>
                    <th><span data-translate="demoApp.location.city">City</span></th>
                    <th><span data-translate="demoApp.location.stateProvince">State Province</span></th>
                    <th><span data-translate="demoApp.location.country">Country</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="location in vm.locations track by location.id">
                    <td><a ui-sref="location-my-suffix-detail({id:location.id})">{{location.id}}</a></td>
                    <td>{{location.streetAddress}}</td>
                    <td>{{location.postalCode}}</td>
                    <td>{{location.city}}</td>
                    <td>{{location.stateProvince}}</td>
                    <td>
                        <a ui-sref="country-my-suffix-detail({id:location.countryId})">{{location.countryId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="location-my-suffix-detail({id:location.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="location-my-suffix.edit({id:location.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="location-my-suffix.delete({id:location.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
