<div>
    <h2 data-translate="demoApp.country.home.title">Countries</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="country-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="demoApp.country.home.createLabel">
                        Create new Country
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="demoApp.country.countryName">Country Name</span></th>
                    <th><span data-translate="demoApp.country.region">Region</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="country in vm.countries track by country.id">
                    <td><a ui-sref="country-my-suffix-detail({id:country.id})">{{country.id}}</a></td>
                    <td>{{country.countryName}}</td>
                    <td>
                        <a ui-sref="region-my-suffix-detail({id:country.regionId})">{{country.regionId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="country-my-suffix-detail({id:country.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="country-my-suffix.edit({id:country.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="country-my-suffix.delete({id:country.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
